.button_type_save {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  color: #fff;
  font-size: 18px;
  line-height: 1.2;
  border-color: #000;
  border-radius: 2px;
  background-color: #000;
}

@media screen and (max-width: 768px) {
  .button_type_save {
    height: 46px;
    font-size: 14px;
  }

}
